.content {
  background-color: #000;
  color: #fff;
  content: "뷁";
  padding: 6.5%;
  display: inline-block;
  width: 350px;
}

#ntit {
  background-color: #000;
  font-family: "Chosunilbo_myungjo";
  font-size: 100px;
  padding-left: -10%;
  font-weight: lighter;
}

#ntit::before {
  font-family: "Nanum Myeongjo", serif;
  content: "\201C";
}

#ntit::after {
  font-family: "Nanum Myeongjo", serif;
  content: "\201D";
}

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
}

#mun {
  padding: 2px;
  font-family: "Nanum Myeongjo", serif;
  line-height: 105%;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 7%;
  display: block;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
